@media all and (max-width:991px) and (min-width:767px){
    .header-wrap{
        height:360px;
    }
     section .div {
        padding:40px 20px;
    }
     .header-wrap .header{
         padding:80px 0;
    }
    .contain-box{
        padding:24px 0px;
        overflow:hidden;
    }
}