*{
    padding:0;
    margin:0;
    list-style:none;
    text-decoration:none;
    font-family:"微软雅黑";
    box-sizing:border-box;
}
.navbar-inverse .navbar-nav li a{
    color:rgba(255,255,255,0.8);
}
.navbar-inverse .navbar-nav li a:hover{
    background:#080808;
}
.header-wrap{
    width:100%;
    background: url(../image/headbackground.jpg) no-repeat center center;
    background-size: cover;
    background-attachment:fixed;
}
.header-wrap .header{
    text-align:center;
    height:100%;
    background:linear-gradient(to right,#D3F6D1, #F5EBEB , #8E54E9);
    opacity:0.7;
    color:#5a0978;
}
.header h3{
    padding:10px 0 20px 0;
    text-shadow:4px 3px 1px rgba(255,255,255,0.7);
}
@-webkit-keyframes mycolor
{ 0%
  { color:#149717;
  }
  20%
  { color:#d76a50;
  }
  50%
  { color:#347fc0;
  }
  70%
  { color:#b603f1;
  }
  100%
  { color:#217221;
  }
}
.header p{
    line-height:24px;
}
.header p:hover
{ -webkit-animation-name:mycolor; 
  -webkit-animation-duration:3s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count:infinite;
}


.contain-wrap{
    width:100%;
}
.contain{
    width:100%;
    background:linear-gradient(to left bottom,#D59BF6,#F9F8ED,#DDFEE4,#EBE9F6,#F5EDF7);
}
.contain-box{
    overflow:hidden;
}
.picture .img-a{
    width:100%;
    height:100%;
}
.text-content{
    text-align:center;
}
.text-content h3{
    margin:0px;
    padding-bottom:20px;
}
.text-content p{
    font-size:14px;
    line-height:24px;
}
.main-wrap{
    width:100%;
    background:linear-gradient(to right,#F5EDF7,#EBE9F6,#DDFEE4);
}
.main{
     width:100%;
     overflow:hidden;
}
.main-box{
    text-align:center;
    overflow:hidden;
}
.main-box .icon{
    font-size:50px;
    color:#D59BF6;
}

.navTab-pic img{
    width:100%;
    height:100%;
    box-shadow:1px 1px 5px #666;
}
.navTab-content{
    padding:30px 0px;
}
.navTab-wrap{
     background:linear-gradient(to right,#F5EDF7,#EBE9F6,#DDFEE4);
}
.tab-box{
    overflow:hidden;
}
.footer{
    background:#222;
    height:40px;
    text-align:center;
    color:rgba(255,255,255,0.8);
    line-height:40px;
}